{{>header}}
<title>Go Drive - Car Rental | User Update Section</title>
{{>navbar}}
{{>hero}}
<div class="container-fluid my-3">
  <div class="row">
    <div class="col-md-3">
      {{>sidebar}}
    </div>
    <div class="col-md-9">
      <h5 class="bg-primary text-center text-light p-2">Users Update <a href="/admin/users"><i
            class="fa fa-backward text-light float-end"></i></a></h5>
      <form action="/admin/users/update/{{data.id}}" method="post">
        <div class="row">
          <div class="col-md-6 mt-3">
            <input type="text" name="name" placeholder="Full Name" value="{{data.name}}"
              class=" form-control {{#if errorMessage.name}} border-danger {{else}}border-primary {{/if}}">
            {{#if errorMessage.name}}
            <p class="text-danger">{{errorMessage.name}}</p>
            {{/if}}
          </div>
          <div class="col-md-6 mt-3">
            <input type="text" name="username" placeholder="UserName" value="{{data.username}}"
              class=" form-control {{#if errorMessage.username}} border-danger {{else}}border-primary {{/if}}">
            {{#if errorMessage.username}}
            <p class="text-danger">{{errorMessage.username}}</p>
            {{/if}}
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 mt-3">
            <input type="email" name="email" placeholder="Enter  Email Address" value="{{data.email}}"
              class=" form-control {{#if errorMessage.email}} border-danger {{else}}border-primary {{/if}}">
            {{#if errorMessage.email}}
            <p class="text-danger">{{errorMessage.email}}</p>
            {{/if}}
          </div>
          <div class="col-md-6 mt-3">
            <input type="number" name="phone" placeholder="Enter Phone Number" value="{{data.phone}}"
              class=" form-control {{#if errorMessage.phone}} border-danger {{else}}border-primary {{/if}}">
            {{#if errorMessage.phone}}
            <p class="text-danger">{{errorMessage.phone}}</p>
            {{/if}}
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 mt-3">
            <select name="role" class=" form-select border-primary">
              <option {{checkDropDown data.role "Admin" }}>Admin</option>
              <option {{checkDropDown data.role "Super Admin" }}>Super Admin</option>
            </select>

          </div>
        </div>
        <div class="mt-3">
          <button type="submit" class="btn btn-primary w-100 p-2">Update</button>
        </div>
      </form>

    </div>
  </div>
</div>
</div>
</div>
{{>footer}}