{{>header}}
<title>Cental - Car Rent | Admin Testimonials Section</title>
{{>navbar}}
{{>hero}}
<div class="container-fluid my-3">
  <div class="row">
    <div class="col-md-3">
      {{>sidebar}}
    </div>
    <div class="col-md-9">
      <h5 class="bg-primary text-center text-light p-2">Car Admin Section  <a href="/admin/car/create"><i
            class="fa fa-plus text-light float-end"></i></a></h5>
        <table class="table table-bordered ">
          <thead>
            <tr>
              <th>id</th>
              <th>Name</th>
              <th>Rating</th>
              <th>Rent</th>
              <th>Seating Capecity</th>
              <th> Driving Mode </th>
              <th>Fuel Type</th>
              <th>Active</th>
              <th>Pic</th>
            
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {{#each data}}
            <tr>
              <td>{{_id}}</td>
              <td>{{name}}</td>
              <td>{{rating}}</td>
              <td>{{rent}}</td>
              <td>{{seat}}</td>
              <td>{{mode}}</td>
              <td>{{fuelType}}</td>
              <th>
                <a href="/{{pic}}" target="_blank">
                <img src="/{{pic}}" height="50px" width="50px"  alt="car image"></a>
              </th>
              <td><a href="/admin/car/edit/{{_id}}"><i class="fa fa-edit"></i></a></td>
              <td><a href="/admin/car/delete/{{_id}}"><i class="fa fa-trash text-danger"></i></a></td>

              <th class={{#if active}} "text-success" {{else}}"text-danger" {{/if}}>{{#if active}}Yes {{else}}No {{/if}} </th>

            </tr>
            {{/each}}
          </tbody>
        </table>

    </div>
  </div>
</div>
</div>
</div>
{{>footer}}