{{>header}}
<title>Cental - Car Rent | Admin Testimonials Section</title>
{{>navbar}}
{{>hero}}
<div class="container-fluid my-3">
  <div class="row">
    <div class="col-md-3">
      {{>sidebar}}
    </div>
    <div class="col-md-9">
      <h5 class="bg-primary text-center text-light p-2">Contact Us Queries </h5>
        <div class="table-responsive">
          <table class="table table-bordered ">
          <thead>
            <tr>
              <th>id</th>
              <th> Name</th>
              <th>Email</th>
              <th>Phone</th>
              <th>PickUp Location</th>
              <th>DropOff Location</th>
              <th>Car Type</th>
              <th>PickUpDate</th>
              <th>Date</th>
              <th>Active</th>
              <th>Show</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            {{#each data}}
            <tr>
              <td>{{_id}}</td>
              <td>{{name}}</td>
              <td>{{email}}</td>
              <td>{{phone}}</td>
              <td>{{pickUpLocation }}</td>
              <td>{{dropOff }}</td>
              <td>{{carType }}</td>
              <td>{{pickUpDate }}</td>
              <td>{{date }}</td>

              {{!-- <td >
                <div class="testimonial-message">
                {{message}}
                </div>
              </td> --}}
              {{!-- <td>{{getdate date}}</td> --}}
          
              <th class={{#if active}} "text-success" {{else}}"text-danger" {{/if}}>{{#if active}}Yes {{else}}No {{/if}} </th>
            
              {{#if active }}
              <td><a href="/admin/booking/show/{{_id}}"><i class="fa fa-eye"></i></a></td>
              {{else}}
              <td><a href="/admin/booking/show/{{_id}}"><i class="fa fa-eye"></i></a></td>
              <td><a href="/admin/booking/delete/{{_id}}"><i class="fa fa-trash text-danger"></i></a></td>
              {{/if}}
            </tr>
            {{/each}}
          </tbody>
           </table>
        </div>

    </div>
  </div>
</div>
</div>
</div>
{{>footer}}